
        #my-description {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }


        body {
            background-color: #232741;
            color: aliceblue;
        }

        em {
            text-decoration: underline;
        }

        .abilities {
            font-size: 18px;
        }

        #imagem {
            border-radius: 100px;
        }

        ul {
            padding: 20px;
        }

        a {
            text-decoration: none;
            font-family: fantasy;
        }